.main-button {
    margin-top: 1em;
    margin-left: 1em;
}

.mat-card-button {
    max-width: 0.2em;
    max-height: 0.2em;
    width: 0.2em;
    height: 0.2em;
    border: 3px solid black;
    border-radius: 8px;
    background-color: white;
}

.dashboard-local-button-vertical-space {
    min-height: 1em;
    height: 1em;
    min-width: 1em;
    width: 1em;
}