/* You can add global styles to this file, and also import other style files */
mat-card {
    margin: 0;
    text-align: left;
}
mat-card-content {
    text-align: left;
    padding: 0;
    margin: -2em;
}